body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  position: sticky;
  top: 0;
  background-color: rgb(144, 149, 149);
  padding: 25px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%; 
  margin: 0 auto;
}

.logo {
  color: rgb(255, 242, 4);
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.inquire-btn {
  background-color: #2a27e1;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.login-form {
  margin: auto;
  margin-top: 25vh;
  padding: 50px;
  background-color: #e1dede;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
  margin-top: 0;
  text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
}

.login-form button {
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 19px auto;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
}
.login-form button a {
  color: white;
  text-decoration: none;
  display: block;
}

.inquire-btn:hover {
  background-color: #1f1db4;
}

.login-form button:hover {
  background-color: #45a049;
}